<%= form_for(@stud) do |f| %>

<div>
	<%= f.label :name %><br />
	<%= f.text_field :name %>
</div>

<div>
<%#= f.label :grade_id %><br />
<%#= collection_select(:stud, :grade_id, Grade.all, :id, :lettergrade) %>
</div>

<div>
	<%= f.submit 'Submit' %>
</div>

<% end %>
